﻿@model Compass.Models.OrderCreateViewModel

@{
    ViewBag.Title = Resources.MainResource.Order_CreateTitle;
    ViewBag.PageClass = "animated fadeInDown";
}


<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-bell"></i>
            @Resources.MainResource.Order_Index_Title
            <span>
                >
                @Resources.MainResource.Order_CreateTitle
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Order_CreateTitle </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                            @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.ValidationBootstrap()
                                    @Html.Hidden("DocumentLink", ViewBag.DocLink as string)

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.Company, ViewBag.CompaniesList as SelectList, Resources.MainResource.Shared_Required_SelectCompany)
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                                        <label class="select state-disabled">
                                            @Html.DropDownListFor(m => m.Object, Enumerable.Empty<SelectListItem>(), Resources.MainResource.Order_Create_Required_Object, htmlAttributes: new { disabled = "disabled" })
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Client, htmlAttributes: new { @class = "label" })
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.Client, ViewBag.ClientsList as SelectList)
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Administrator, new { @class = "label" })
                                        <label class="select state-disabled">
                                            @Html.DropDownListFor(m => m.Administrator, Enumerable.Empty<SelectListItem>(), Resources.MainResource.Order_Required_AdminError, htmlAttributes: new { disabled = "disabled" })
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Equipment_Name, new { @class = "label" })
                                        <label class="input">
                                            @Html.EditorFor(m => m.Name)
                                            <b class="tooltip tooltip-top-right"> @Resources.MainResource.Order_Required_NameError</b>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Content, new { @class = "label" })
                                        <label class="textarea">
                                            @Html.TextAreaFor(m => m.Content, new { @class = "custom-scroll", @rows = 3 })
                                            <b class="tooltip tooltip-top-right"> @Resources.MainResource.Order_Required_ContentError</b>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field5, new { @class = "label" })
                                        <label class="select">
                                            @Html.DropDownListFor(m => m.OrderType, ViewBag.OrderTypeList as SelectList, Resources.MainResource.Order_Required_TypeError)
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Equipment_Equipments, new { @class = "label" })
                                        <label class="select state-disabled">
                                            @Html.DropDownListFor(m => m.Equipment, Enumerable.Empty<SelectListItem>(), Resources.MainResource.Order_Create_Equipment, htmlAttributes: new { disabled = "disabled" })
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field6, new { @class = "label" })
                                        <label class="select state-disabled">
                                            @Html.DropDownListFor(m => m.OrderStatus, ViewBag.OrderStatusList as SelectList, htmlAttributes: new { disabled = "disabled" })
                                            <i></i>
                                        </label>
                                    </section>

                                    @if (Convert.ToInt32(ViewBag.Role) == 0)
                                    {
                                        <section>
                                            @Html.Label(Resources.MainResource.Order_Index_Field7, new { @class = "label" })
                                            <label class="input">
                                                @Html.EditorFor(m => m.Escalation)
                                            </label>
                                        </section>
                                    }

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Process, new { @class = "label" })
                                        <label class="textarea">
                                            @Html.TextAreaFor(m => m.Process, new { @class = "custom-scroll", @rows = 3 })
                                        </label>
                                    </section>

                                </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Order_Create_Documents </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="fileupload" method="POST" enctype="multipart/form-data" data-url="@Url.Action("Upload","Order", new { path= ViewBag.DocLink })">
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>@Resources.MainResource.Button_Add</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <button type="button" class="btn btn-danger delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>@Resources.MainResource.Button_DeleteAll</span>
                                        </button>
                                        <input type="checkbox" class="toggle" checked="checked" style="display:none;">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                    </div>
                                    <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The global progress state -->
                                <div class="col-lg-5 fileupload-progress fade">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress state -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>

                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            </form>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </section>

    <div style="margin-bottom:10px;text-align:right;">
        <input type="submit" value="@Resources.MainResource.Button_Add" class="btn btn-primary" id="submit-form" />  &nbsp; &nbsp;
        @Html.ActionLink(Resources.MainResource.Button_Cancel, "Index", "Order", null, new { @class = "btn btn-default" })
    </div>

</div>

@section pagespecific {
    @Scripts.Render("~/bundles/fileupload")
    @Styles.Render("~/Content/fileuploadCSS")
    @Scripts.Render("~/Scripts/ClientScripts/Order_Create.js")

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>@Resources.MainResource.Button_Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" ><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" >{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>@Resources.MainResource.Button_Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle" checked="checked" style="display:none;">
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>@Resources.MainResource.Button_Cancel</span>
                </button>
                {% } %}
            </td>
        </tr>
        {% } %}
    </script>

    <script type="text/javascript">
        var resource = {
            errorCompany: "@Resources.MainResource.Shared_Required_SelectCompany",
            errorObject: "@Resources.MainResource.Order_Create_Required_Object",
            errorClient: "@Resources.MainResource.Order_Required_ClientError",
            errorAdmin: "@Resources.MainResource.Order_Required_AdminError",
            errorName1: "@Resources.MainResource.Order_Required_NameError",
            errorName2: "@Resources.MainResource.Order_Max_NameError",
            errorContent1: "@Resources.MainResource.Order_Required_ContentError",
            errorContent2: "@Resources.MainResource.Order_Max_ContentError",
            errorType: "@Resources.MainResource.Order_Required_TypeError",
            errorStarus: "@Resources.MainResource.Order_Required_StatusError",
            errorProcess: "@Resources.MainResource.Order_Max_ContentError",
            adminDefaultText: "@Resources.MainResource.Order_Required_AdminError",
            qualityError: "@Resources.MainResource.Order_QualityError",
        }

        var isEdit = false;

        $(function () {
            FormMultipleUpload.init();
        });

    </script>
}