﻿@model Compass.Models.OrderDetailsViewModel

@{
    ViewBag.Title = Resources.MainResource.Order_DetailsTitle;
    ViewBag.PageClass = "animated fadeInDown";
}

<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-bell"></i>
            @Resources.MainResource.Order_Index_Title
            <span>
                >
                @Resources.MainResource.Order_DetailsTitle
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Order_DetailsTitle </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                @Html.HiddenFor(m => m.DocumentLink)

                                <fieldset>
                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Company, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Object, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Client, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Client, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Administrator, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Administrator, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Equipment_Name, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Content, new { @class = "label" })
                                        <label class="textarea state-disabled">
                                            @Html.TextAreaFor(m => m.Content, new { @class = "custom-scroll", @rows = 3, @disabled = "disabled" })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field5, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.OrderType, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Equipment_Equipments, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Equipment, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field6, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.OrderStatus, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field9, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Performer, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Index_Field7, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Escalation, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_Create_Process, new { @class = "label" })
                                        <label class="textarea state-disabled">
                                            @Html.TextAreaFor(m => m.Process, new { @class = "custom-scroll", @rows = 3, @disabled = "disabled" })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Order_EditQuality, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Quality, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                        <h2> @Resources.TempResource.Order_Details_CalendarTitle </h2>
                        <div class="widget-toolbar">
                            <!-- add: non-hidden - to disable auto hide -->
                            <div class="btn-group">
                                <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                    @Resources.TempResource.Order_Details_CalendarViewTitle <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu js-status-update pull-right">
                                    <li>
                                        <a href="javascript:void(0);" id="mt">@Resources.TempResource.Order_Details_CalendarViewMonth</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" id="ag">@Resources.TempResource.Order_Details_CalendarViewWeek</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" id="td">@Resources.TempResource.Order_Details_CalendarViewDay</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <!-- widget div-->
                    <div>

                        <div class="widget-body no-padding">
                            <!-- content goes here -->
                            <div class="widget-body-toolbar">

                                <div id="calendar-buttons">

                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                            <!-- end content -->
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Order_Create_Documents </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div id="fileupload">
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </section>

    <div style="margin-bottom:10px;text-align:right;">
        @Html.ActionLink(Resources.MainResource.Shared_Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) &nbsp; &nbsp;
        <a class="btn btn-default" onclick="javascript:history.back(); return false;">@Resources.MainResource.Button_Cancel</a>
    </div>

</div>


@section pagespecific {
    @Styles.Render("~/Content/fileuploadCSS")
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("~/Scripts/plugin/moment/moment.min.js")
    @Scripts.Render("~/Scripts/plugin/fullcalendar/jquery.fullcalendar.min.js")
    @Scripts.Render("~/Scripts/plugin/fullcalendar/lang/"+Resources.TempResource.FullCalendar_Lang)
    @Scripts.Render("~/Scripts/ClientScripts/Order_Details.js")

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" ><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" >{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
            </td>
        </tr>
        {% } %}
    </script>

    <script type="text/javascript">
        var events = [];
        events = @Html.Raw(
            Json.Encode(
                ((IEnumerable<CalendarTable>)ViewBag.Events).Select(_event => new
                {
                    start = _event.start,
                    end = _event.end,
                    title = _event.title,
                    id = _event.id,
                    className = _event.className
                })
            )
        );
    </script>

}