﻿@model IEnumerable<Compass.EntityModels.APP_Order>

@{
    ViewBag.Title = Resources.MainResource.Order_Index_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-bell"></i>
            @Resources.MainResource.Order_Index_Title
            <span>
                >
                @Resources.MainResource.Order_Index_ListOrder
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Order_Index_ListOrder </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <form action="/Order/Create">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Button_Add</button>
                                </form>
                                <form action="#" id="editOrderForm">
                                    <button  id="editOrderButton" class="manage-button btn btn-default" disabled>@Resources.MainResource.Shared_Edit</button>
                                </form>
                            </div>

                            <table id="orderTable" class="dataTable table tabstyle table-striped table-bordered table-hover display" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder=@Resources.TempResource.Order_Index_Filter />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder=@Resources.TempResource.Order_Index_Filter />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder=@Resources.TempResource.Order_Index_Filter />
                                        </th>
                                        <th class="hasinput">
                                            <label class="select" style="margin-bottom:0px;">
                                                @Html.DropDownList("OrderTypeList", null, @Resources.TempResource.Order_Index_Filter, htmlAttributes: new { @class = "form-control dropdowngroup" })
                                                <i></i>
                                            </label>
                                        </th>
                                        <th class="hasinput">
                                            <label class="select" style="margin-bottom:0px;">
                                                @Html.DropDownList("OrderStatusList", null, @Resources.TempResource.Order_Index_Filter, htmlAttributes: new { @class = "form-control dropdowngroup" })
                                                <i></i>
                                            </label>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>@Resources.MainResource.Order_Intex_Field1</th>
                                        <th>@Resources.MainResource.Equipment_Company</th>
                                        <th>@Resources.MainResource.Object_Object</th>
                                        <th>@Resources.MainResource.Equipment_Name</th>
                                        <th>@Resources.MainResource.Order_Index_Field5</th>
                                        <th>@Resources.MainResource.Order_Index_Field6</th>
                                        <th>@Resources.MainResource.Order_Index_Field7</th>
                                        <th>@Resources.MainResource.Order_Index_Field8</th>
                                        <th class="no-sort"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.APP_Order order in Model)
                                    {
                                        <tr id="@order.Id" order-name="@order.Name">
                                            <td>@order.Id</td>
                                            <td>@order.APP_ServiceObjects.APP_COMPANY.name</td>
                                            <td>@order.APP_ServiceObjects.Name</td>
                                            <td>@order.Name</td>
                                            <td><img src="~/Content/img/OrderIcons/@order.DICT_OrderType.iconPath" alt="@order.DICT_OrderType.Name" title="@order.DICT_OrderType.Name"><span hidden>@order.DICT_OrderType.Name</span></td>
                                            <td><img src="~/Content/img/OrderIcons/@order.DICT_OrderStatus.iconPath" alt="@order.DICT_OrderStatus.Name" title="@order.DICT_OrderStatus.Name"><span hidden>@order.DICT_OrderStatus.Name</span></td>
                                            <td>@order.Escalation</td>
                                            <td>@order.Process</td>
                                            <td><a href="/Order/Details/@order.Id"><span class="glyphicon glyphicon-user"></span></a></td>
                                            </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage"
    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/Order_Index.js")
}
