﻿@model CompanyDetailsViewModel


@{
    ViewBag.Title = Resources.MainResource.Company_Details_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-university"></i>
            @Resources.MainResource.Company_Index_Company
            <span>
                >
                @Resources.MainResource.Company_Details_Title
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Company_Details_Title </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                <fieldset>
                                    <section>
                                        @Html.Label(Resources.MainResource.Company_Create_Name, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Company_Create_Adress, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Adress, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Company_Create_Contact, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.ContactPerson, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Phone, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Number, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Company_Create_Validation, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.NeedValidation, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Company_Index_LinkToFileAgreement, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.LinkToFileAgreement, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    @if (Model.LinkToFileAgreement == Resources.MainResource.Company_Details_FileExist)
                                    {
                                        <section>
                                            @Html.ActionLink(Resources.MainResource.Company_Detail_Download, "DownloadAgreement/" + Model.Id, "Details", new { @class = "btn btn-primary btn-sm" })
                                        </section>
                                    }

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Company_Index_QualityParams </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    @try
                                    {
                                        var i = 0;
                                        foreach (var param in Model.QualityParam)
                                        {
                                            i++;
                                            <section>
                                                @Html.Label(param.Param.ToString(), htmlAttributes: new { @class = "label" })
                                                <label class="input state-disabled">
                                                    @Html.TextBox("param-id-" + i, param.Value.ToString(), new { @disabled = "disabled" })
                                                </label>
                                            </section>
                                        }
                                    }
                                    catch { }
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </section>

    <div style="margin-bottom:10px;text-align:right;">
        @Html.ActionLink(Resources.MainResource.Shared_Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) &nbsp; &nbsp;
        <a class="btn btn-default" onclick="javascript:history.back(); return false;">@Resources.MainResource.Button_Cancel</a>
    </div>

</div>


@section pagespecific {
}