﻿@model CompanyCreateViewModel


@{
    ViewBag.Title = Resources.MainResource.Company_Edit_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { enctype = "multipart/form-data", name = "form", id = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="content">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-university"></i>
                @Resources.MainResource.Company_Index_Company
                <span>
                    >
                    @Resources.MainResource.Company_Edit_Title
                </span>
            </h1>
        </div>

        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>@Resources.MainResource.Company_Edit_Title </h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="smart-form">

                                    <fieldset>
                                        @Html.ValidationBootstrap()
                                        @Html.HiddenFor(model => model.Id)

                                        <section>
                                            @Html.Label(Resources.MainResource.Company_Create_Name, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-university"></i>
                                                @Html.EditorFor(m => m.Name)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Company_Create_NameError</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Company_Create_Adress, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.Adress)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Company_Create_AdressError</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Company_Create_Contact, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                @Html.EditorFor(m => m.ContactPerson)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Company_Create_ContactError</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Phone, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                @Html.TextBoxFor(m => m.Number)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-phone txt-color-teal"></i> @Resources.TempResource.UsersCreatePhone</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.TextBoxFor(m => m.Email)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> @Resources.MainResource.Shared_Required_EnterEmail</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Company_Create_Validation, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.DropDownListFor(model => model.NeedValidation, new List<SelectListItem>()
                                                    {
                                                        new SelectListItem() { Text = Resources.MainResource.Company_Index_Yes, Value = "True" },
                                                        new SelectListItem() { Text = Resources.MainResource.Company_Index_No, Value = "False"}
                                                    },
                                                    Resources.MainResource.Company_Create_ValidationError
                                                )
                                                <i></i>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Company_Create_Agreement, htmlAttributes: new { @class = "label" })
                                            <div class="input input-file">
                                                <span class="button"><input type="file" name="upload" onchange="this.parentNode.nextSibling.value = this.value">@Resources.MainResource.Button_Download</span><input type="text" placeholder="@Resources.MainResource.MaxFileSizeWarning" readonly="">
                                            </div>
                                            <p id="progress" class="text-info help-block"></p>
                                        </section>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>@Resources.MainResource.Company_Index_QualityParams </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div class="smart-form">
                                    <fieldset>
                                        @try
                                        {
                                            for (int i = 0; i < Model.QualityParams.Count; i++)
                                            {
                                                <section>
                                                    <label class="label">@Html.ValueFor(model => model.QualityParams[i].Param) @Html.HiddenFor(model => model.QualityParams[i].Param) @Html.HiddenFor(model => model.QualityParams[i].Id)</label> @* Назва *@
                                                    <label class="input">
                                                        @Html.EditorFor(model => model.QualityParams[i].Value, new { @class = "quality-param" })
                                                    </label>
                                                </section>
                                            }
                                        }
                                        catch { }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </section>

        <div style="margin-bottom:10px;text-align:right;">
            <input type="submit" value="@Resources.MainResource.Button_Save" class="btn btn-primary" />  &nbsp; &nbsp;
            @Html.ActionLink(Resources.MainResource.Button_Cancel, "Index", "Company", null, new { @class = "btn btn-default" })
        </div>

    </div>
}

<script>
    var resource = {
        errorName: "@Resources.MainResource.Company_Create_NameError",
        errorAdress: "@Resources.MainResource.Company_Create_AdressError",
        errorContact: "@Resources.MainResource.Company_Create_ContactError",
        errorEmail1: "@Resources.MainResource.Shared_Required_EnterEmail",
        errorEmail2: "@Resources.MainResource.Shared_Required_EmailInvalid",
        errorValidation: "@Resources.MainResource.Company_Create_ValidationError",
        loadDone: "@Resources.MainResource.Company_Create_LoadDone",
        loadError: "@Resources.MainResource.Company_Create_LoadError",
        loadProgress: "@Resources.MainResource.Company_Create_LoadProgress",
        errorPhone: "@Resources.TempResource.UsersCreatePhone",
        errorParam: "@Resources.TempResource.QualityParamsError"
    }

    var isEdit = true;
</script>


@section pagespecific {
    @Scripts.Render("~/Scripts/plugin/jquery-maskedinput/jquery.maskedinput.min.js")
    @Scripts.Render("~/Scripts/ClientScripts/Company_Create.js")
}