﻿@model IEnumerable<Compass.EntityModels.APP_COMPANY>

@{
    ViewBag.Title = Resources.MainResource.Company_Index_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-university"></i>
            @Resources.MainResource.Company_Index_Company
            <span>
                >
                @Resources.MainResource.Company_Index_ListCompany
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Company_Index_ListCompany </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <form action="/Company/Create">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.Company_Index_AddNewCompany"><img src="~/Content/img/icon/icon_plus.gif" alt="@Resources.MainResource.Company_Index_AddNewCompany" /></button>
                                </form>
                                <form action="#" id="EditCompany" hidden="true">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.Company_Index_EditCompany"><img src="~/Content/img/icon/icon_edit.gif" alt="@Resources.MainResource.Company_Index_EditCompany" /></button>
                                </form>
                                <form action="#" id="DeleteCompany" hidden="true" class="viewDialog">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.Company_Index_DeleteCompany"><img src="~/Content/img/icon/icon_delete.gif" alt="@Resources.MainResource.Company_Index_DeleteCompany" /></button>
                                </form>
                                <form action="#" id="UsersCompany" hidden="true">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.UsersCompany"><img src="~/Content/img/icon/icon_users.gif" alt="@Resources.MainResource.UsersCompany" /></button>
                                </form>
                                <form action="#" id="EquipmentCompany" hidden="true">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.EquipmentCompany"><img src="~/Content/img/icon/icon_equipment1.gif" alt="@Resources.MainResource.EquipmentCompany" /></button>
                                </form>
                                <form action="#" id="OrderCompany" hidden="true">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.OrderCompany"><img src="~/Content/img/icon/icon_order.gif" alt="@Resources.MainResource.OrderCompany" /></button>
                                </form>
                            </div>

                            <table id="companyTable" class="dataTable table tabstyle table-striped table-bordered table-hover display" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.MainResource.Company_Index_Name</th>
                                        <th>@Resources.MainResource.Company_Index_Adress</th>
                                        <th>@Resources.MainResource.Company_Index_ContactPerson</th>
                                        <th>@Resources.MainResource.Company_Index_Number</th>
                                        <th>@Resources.MainResource.Company_Index_Email</th>
                                        <th>@Resources.MainResource.Company_Index_LinkToFileAgreement</th>
                                        <th>@Resources.MainResource.Company_Index_NeedValidation</th>
                                        <th class="no-sort"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.APP_COMPANY company in Model)
                                    {
                                        <tr id="@company.company_id" company-name="@company.name">
                                            <td>@company.name</td>
                                            <td>@company.adress</td>
                                            <td>@company.contact_person</td>
                                            <td>@company.number</td>
                                            <td>@company.email</td>
                                            <td>@((company.link_to_file_agreement != null && company.link_to_file_agreement != "") ? Resources.MainResource.Company_Index_LinkExist : Resources.MainResource.Company_Index_LinkNoExist)</td>
                                            <td>@(company.need_validation ? Resources.MainResource.Company_Index_Yes : Resources.MainResource.Company_Index_No)</td>
                                            <td><a href="/Company/Details/@company.company_id"><span class="glyphicon glyphicon-user"></span></a></td>
                                            </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage",
        buttonCancel: "@Resources.MainResource.Button_Cancel",
        buttonDelete: "@Resources.MainResource.Button_Delete",
        deleteSuccess: "@Resources.MainResource.Company_Index_DeleteSuccess",
        deleteError_NoCompany: "@Resources.MainResource.Company_Index_DeleteError_NoCompany",
        deleteError_UsersInSystem: "@Resources.MainResource.Company_Index_DeleteError_UsersInSystem",
        deleteError_ServiceObjectsInSystem: "@Resources.MainResource.Company_Index_DeleteError_ServiceObjectsInSystem",
        deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
        deleteConfirmText: "@Resources.MainResource.Company_Index_DeleteConfirm",
        EquipmentCompany: "@Resources.MainResource.EquipmentCompany",
        UsersCompany: "@Resources.MainResource.UsersCompany",
        OrderCompany: "@Resources.MainResource.OrderCompany"

    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/Company_Index.js")
}
