﻿@model Compass.Models.DetailsViewModel

@{
    ViewBag.Title = Resources.MainResource.Users_Details_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-user"></i>
            @Resources.MainResource.Users_Users
            <span>
                >
                @Resources.MainResource.Users_Details_Title
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.TempResource.UsersCreateTitle </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">

                                <fieldset>
                                    <section>
                                        @Html.Label(Resources.MainResource.Users_Create_UserName, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_FirstName, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_LastName, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Patronymic, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Phone, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Users_Create_Role, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_ServiceObject, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(model => model.ServiceObject , new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </section>

    <div style="margin-bottom:10px;text-align:right;">
        @Html.ActionLink(Resources.MainResource.Shared_Edit, "Edit", new { id = ViewBag.Id }, new { @class = "btn btn-primary" }) &nbsp; &nbsp;
        <a class="btn btn-default" onclick="javascript:history.back(); return false;">@Resources.MainResource.Button_Cancel</a>
    </div>

</div>
@section pagespecific {

}