﻿@model Compass.Models.EditViewModel

@{
    ViewBag.Title = Resources.MainResource.Users_EditUser;
    ViewBag.PageClass = "animated fadeInDown";
}

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div id="content">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-user"></i>
                @Resources.MainResource.Users_Users
                <span>
                    >
                    @Resources.MainResource.Users_EditUser
                </span>
            </h1>
        </div>

        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>@Resources.TempResource.UsersCreateTitle </h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="smart-form">

                                    <fieldset>
                                        @Html.ValidationBootstrap()

                                        <section>
                                            @Html.Label(Resources.MainResource.Users_Create_UserName, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                @Html.EditorFor(m => m.UserName)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Users_Create_UserName</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_FirstName, new { @class = "label" })
                                            <label class="input">
                                                @Html.EditorFor(m => m.FirstName)
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_LastName, new { @class = "label" })
                                            <label class="input">
                                                @Html.EditorFor(m => m.LastName)
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Patronymic, new { @class = "label" })
                                            <label class="input">
                                                @Html.EditorFor(m => m.Patronymic)
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.Email)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> @Resources.MainResource.Shared_Required_EnterEmail</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Phone, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                @Html.EditorFor(m => m.Phone)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-phone txt-color-teal"></i> @Resources.TempResource.UsersCreatePhone</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Password, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })
                                                <b class="tooltip tooltip-bottom-right">@Resources.TempResource.RPHint</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Users_Create_ConfirmPassword, htmlAttributes: new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                @Html.PasswordFor(m => m.PasswordConfirm, new { @autocomplete = "off" })
                                                <b class="tooltip tooltip-bottom-right">@Resources.TempResource.RPHint</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Users_Create_Role, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.roles, Resources.MainResource.Users_Create_Required_SelectRole, new { id = "Role" })
                                                <i></i>
                                            </label>
                                        </section>

                                        <section id="sel-company">
                                            @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.ListBoxFor(m => m.Company, (MultiSelectList)ViewBag.companies, new { @class = "chzn-select", data_placeholder = Resources.MainResource.Select_Company_Placeholder })
                                                <i></i>
                                            </label>
                                        </section>

                                        <section id="sel-object">
                                            @Html.Label(Resources.MainResource.Shared_ServiceObject, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.ListBoxFor(m => m.ServiceObject, (MultiSelectList)ViewBag.serviceObjects, new { @class = "chzn-select", data_placeholder = Resources.MainResource.Select_ServiceObject_Placeholder })
                                                <i></i>
                                            </label>
                                        </section>
                                        
                                        <section id="sel-region">
                                            @Html.Label(Resources.MainResource.Shared_Region, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.DropDownListFor(m => m.RegionId, ViewBag.Regions as SelectList, Resources.MainResource.Region_SelectRegion)
                                                <i></i>
                                            </label>
                                        </section>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </section>

        <span class="label label-danger" id="errorLabel"></span>

        <div style="margin-bottom:10px;text-align:right;">
            <input type="submit" class="btn btn-primary" value="@Resources.MainResource.Button_Save" id="submitButton" /> &nbsp; &nbsp;
            @Html.ActionLink(Resources.MainResource.Button_Cancel, "Index", "Users", null, new { @class = "btn btn-default" })
        </div>

    </div>
}

<script>
    var resource = {
        admin: "@Resources.MainResource.Users_Role_Admin",
        validator: "@Resources.MainResource.Users_Role_Validator",
        initiator: "@Resources.MainResource.Users_Role_Initiator",
        dispatcher: "@Resources.MainResource.Users_Role_Dispatcher",
        errorLogin: "@Resources.MainResource.Users_Create_Required_EnterLogin",
        errorFirstName: "@Resources.MainResource.Shared_Required_EnterFirstName",
        errorLastName: "@Resources.MainResource.Shared_Required_EnterLastName",
        errorEmail1: "@Resources.MainResource.Shared_Required_EnterEmail",
        errorEmail2: "@Resources.MainResource.Shared_Required_EmailInvalid",
        errorPassword1: "@Resources.MainResource.Users_Create_Required_Password",
        errorPassword2: "@Resources.TempResource.LoginPasswordError2",
        errorConfirmPassword1: "@Resources.MainResource.Users_Create_Required_PasswordConfirm",
        errorConfirmPassword2: "@Resources.MainResource.Users_Create_Required_PasswordsNotMatch",
        errorRole: "@Resources.MainResource.Users_Create_Required_SelectRole",
        errorRegion: "@Resources.MainResource.Users_Create_Required_SelectRegion",
        errorManagerExist: "@Resources.MainResource.Users_Create_Required_ManagerExists"
    }
    var isEdit = true;
</script>


@section pagespecific {
    @Scripts.Render("~/Scripts/plugin/jquery-maskedinput/jquery.maskedinput.min.js")
    @Scripts.Render("~/Scripts/plugin/chosen/chosen.jquery.js")
    @Styles.Render("~/Content/css/chosen/chosen.css")
    @Scripts.Render("~/Scripts/ClientScripts/Users_Create.js")
}