﻿@model IEnumerable<Compass.EntityModels.AspNetUsers>

@{
    ViewBag.Title = Resources.MainResource.Users_Users;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-user"></i>
            @Resources.MainResource.Users_Users
            <span>
                >
                @Resources.MainResource.Users_Index_ListUsers
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Users_Index_ListUsers </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <form action="/Users/Create">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Users_AddNewUser</button>
                                </form>
                                <form action="#" id="EditUser" hidden="true">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Users_EditUser</button>
                                </form>
                                <form action="#" id="DeleteUser" hidden="true" class="viewDialog">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Users_DeleteUser</button>
                                </form>
                            </div>
                            <table id="usersTable" class="table tabstyle table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.MainResource.Users_Login</th>
                                        <th>@Resources.MainResource.Users_Create_Role</th>
                                        <th>@Resources.MainResource.Shared_FirstName</th>
                                        <th>@Resources.MainResource.Shared_Phone</th>
                                        <th>@Resources.MainResource.Shared_Email</th>
                                        <th>@Resources.MainResource.Shared_Organization</th>
                                        <th class="no-sort"></th>
                                        @*<th class="no-sort"></th>
                                        <th class="no-sort"></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.AspNetUsers user in Model)
                                    {
                                        string link = string.Empty;
                                        <tr id="@user.Id" data-user-login="@user.UserName">
                                            <td>@user.UserName</td>
                                            <td>@(user.AspNetRoles.FirstOrDefault()?.Name)</td>
                                            <td>@(user.LastName + " " + user.FirstName + " " + user.Patronymic)</td>
                                            <td>@(user.PhoneNumber ?? Resources.MainResource.Shared_Missing)</td>
                                            <td>@user.Email</td>
                                            @foreach (var company in user.APP_COMPANY)
                                            {
                                                link = string.IsNullOrWhiteSpace(link) ? "<a href='/Company/Details/" + company.company_id + "'>" + company.name + "</a>" : link + "; <a href='/Company/Details/" + company.company_id + "'>" + company.name + "</a>";
                                            }
                                            <td>@Html.Raw(link)</td>
                                            @*<td>@(string.Join("; ", user.APP_COMPANY.Select(item => item.name).ToArray()))</td>*@
                                            <td><a href="/Users/Details/@user.Id"><span class="glyphicon glyphicon-user"></span></a></td>
                                            @*<td><a href="/Users/Edit/@user.Id"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            <td><a href="#" class="viewDialog" data-user-id="@user.Id" data-user-login="@user.UserName"><span class="glyphicon glyphicon-trash"></span></a></td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage",
        buttonCancel: "@Resources.MainResource.Button_Cancel",
        buttonDelete: "@Resources.MainResource.Button_Delete",
        deleteSuccess: "@Resources.MainResource.DeleteItem_DeleteSuccess",
        deleteError: "@Resources.MainResource.DeleteItem_DeleteError",
        deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
        deleteConfirmText: "@Resources.MainResource.Users_Delete_DeleteConfirm"
    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/Users_Index.js")
}
