﻿@model Compass.Models.ObjectCreateViewModel

@{
    ViewBag.Title = Resources.MainResource.Object_CreateServiceObject;
    ViewBag.PageClass = "animated fadeInDown";
}

@using (Html.BeginForm("Create", "Object", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="content">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-building"></i>
                @Resources.MainResource.Object_ServiceObjects
                <span>
                    >
                    @Resources.MainResource.Object_CreateServiceObject
                </span>
            </h1>
        </div>

        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>@Resources.MainResource.Object_CreateServiceObject </h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <div class="smart-form">

                                    <fieldset>
                                        @Html.ValidationBootstrap()

                                        <section>
                                            @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-building"></i>
                                                @Html.EditorFor(m => m.Name)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Object_Required_EnterObjectName</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.DropDownListFor(m => m.Company, ViewBag.Companies as SelectList, Resources.MainResource.Shared_Required_SelectCompany)
                                                <i></i>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Region, htmlAttributes: new { @class = "label" })
                                            <label class="select">
                                                @Html.DropDownListFor(m => m.Region, ViewBag.Regions as SelectList, @Resources.MainResource.Region_SelectRegion)
                                                <i></i>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Address_Oblast, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.Oblast)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Address_Required_EnterOblast</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Address_District, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.District)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Address_Required_EnterDistrict</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Address_City, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.City)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Address_Required_EnterCity</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Address_Street, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.Street)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Address_Required_EnterStreet</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Address_House, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.House)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Address_Required_EnterHouse</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Object_ContactPerson, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                @Html.EditorFor(m => m.ContactPerson)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Object_Required_EnterContactPerson</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_PhoneNumber, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-phone"></i>
                                                @Html.EditorFor(m => m.PhoneNumber)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.TempResource.UsersCreatePhone</b>
                                            </label>
                                        </section>

                                        <section>
                                            @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                @Html.EditorFor(m => m.Email)
                                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.MainResource.Shared_Required_EnterEmail</b>
                                            </label>
                                        </section>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>@Resources.MainResource.Object_Create_Map </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div id="map" class="google_maps">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </section>

        <div style="margin-bottom:10px;text-align:right;">
            <input type="submit" value="@Resources.MainResource.Button_Add" class="btn btn-primary" />  &nbsp; &nbsp;
            @Html.ActionLink(Resources.MainResource.Button_Cancel, "Index", "Object", null, new { @class = "btn btn-default" })
        </div>

    </div>
}

<script>
    var resource = {
        errorName: "@Resources.MainResource.Object_Required_EnterObjectName",
        errorCompany: "@Resources.MainResource.Shared_Required_SelectCompany",
        errorRegion: "@Resources.MainResource.Region_SelectRegion",
        errorOblast: "@Resources.MainResource.Address_Required_EnterOblast",
        errorDistrict: "@Resources.MainResource.Address_Required_EnterDistrict",
        errorCity: "@Resources.MainResource.Address_Required_EnterCity",
        errorStreet: "@Resources.MainResource.Address_Required_EnterStreet",
        errorHouse: "@Resources.MainResource.Address_Required_EnterHouse",
        errorContact: "@Resources.MainResource.Object_Required_EnterContactPerson",
        errorEmail: "@Resources.MainResource.Shared_Required_EmailInvalid",

        mapError1: "@Resources.MainResource.Create_Object_Map_Error1",
        mapError2: "@Resources.MainResource.Create_Object_Map_Error2",
        mapError3: "@Resources.MainResource.Create_Object_Map_Error3",
        mapButton: "@Resources.MainResource.Create_Object_Map_Button",
        mapOblast: "@Resources.MainResource.Create_Object_Map_Oblast",
        mapStreet: "@Resources.MainResource.Create_Object_Map_Street",
        mapLat: "@Resources.MainResource.Create_Object_Map_Lat",
        mapLng: "@Resources.MainResource.Create_Object_Map_Lng",
        mapAdress: "@Resources.MainResource.Create_Object_Map_Adress"
    }
    var isEdit = false;
</script>


@section pagespecific {
    @Scripts.Render("~/Scripts/plugin/jquery-maskedinput/jquery.maskedinput.min.js")
    @Scripts.Render("~/Scripts/ClientScripts/object.maps.js")
    @Scripts.Render("~/Scripts/ClientScripts/object.create.js")

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4H3shfFhJo0O6vsOvhWGa9E8IUrW334o&callback=initMap">
    </script>
}