﻿@model Compass.Models.ObjectDetailsViewModel

@{
    ViewBag.Title = Resources.MainResource.Object_DetailsServiceObject;
    ViewBag.PageClass = "animated fadeInDown";
}

<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-building"></i>
            @Resources.MainResource.Object_ServiceObjects
            <span>
                >
                @Resources.MainResource.Object_DetailsServiceObject
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Object_DetailsServiceObject </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <div class="smart-form">

                                <fieldset>
                                    <section>
                                        @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Company, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Region, htmlAttributes: new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Region, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Address_Oblast, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Oblast, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Address_District, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.District, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Address_City, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Address_Street, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Street, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Address_House, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.House, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Object_ContactPerson, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.ContactPerson, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_PhoneNumber, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Email, new { @class = "label" })
                                        <label class="input state-disabled">
                                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @disabled = "disabled" } })
                                        </label>
                                    </section>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Object_Create_Map </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div id="map" class="google_maps">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </section>

    <div style="margin-bottom:10px;text-align:right;">
        @Html.ActionLink(Resources.MainResource.Shared_Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) &nbsp; &nbsp;
        <a class="btn btn-default" onclick="javascript:history.back(); return false;">@Resources.MainResource.Button_Cancel</a>
    </div>

</div>

<script>
    var resource = {
        mapError1: "@Resources.MainResource.Create_Object_Map_Error1",
        mapError2: "@Resources.MainResource.Create_Object_Map_Error2",
        mapError3: "@Resources.MainResource.Create_Object_Map_Error3",
        mapButton: "@Resources.MainResource.Create_Object_Map_Button",
        mapOblast: "@Resources.MainResource.Create_Object_Map_Oblast",
        mapStreet: "@Resources.MainResource.Create_Object_Map_Street",
        mapLat: "@Resources.MainResource.Create_Object_Map_Lat",
        mapLng: "@Resources.MainResource.Create_Object_Map_Lng",
        mapAdress: "@Resources.MainResource.Create_Object_Map_Adress"
    }
</script>


@section pagespecific {
    @Scripts.Render("~/Scripts/ClientScripts/object.maps.js")
    @Scripts.Render("~/Scripts/ClientScripts/object.details.js")

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4H3shfFhJo0O6vsOvhWGa9E8IUrW334o&callback=initMap">
    </script>
}