﻿@model IEnumerable<Compass.EntityModels.APP_ServiceObjects>

@{
    ViewBag.Title = Resources.MainResource.Object_ServiceObjects;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-building"></i>
            @Resources.MainResource.Object_ServiceObjects
            <span>
                >
                @Resources.MainResource.Object_ListObjects
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Object_ListObjects </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <form action="/Object/Create">
                                    <button class="manage-button btn btn-default" title="@Resources.MainResource.Object_AddNewObject"><img src="~/Content/img/icon/icon_plus.gif" alt=@Resources.MainResource.Object_AddNewObject /></button>
                                </form>
                                <form action="#" id="EditObject" hidden="true">
                                    <button class="manage-button btn btn-default"title=@Resources.MainResource.Object_EditObject><img src="~/Content/img/icon/icon_edit.gif" alt=@Resources.MainResource.Object_EditObject /></button>
                                </form>
                                    <form action="#" id="DeleteObject" hidden="true" class="viewDialog">
                                    <button class="manage-button btn btn-default"title="@Resources.MainResource.Object_DeleteObject"><img src="~/Content/img/icon/icon_delete.gif" alt="@Resources.MainResource.Object_DeleteObject" /></button>
                                </form>
                                <form action="#" id="ViewEquipment" hidden="true">
                                    <button class="manage-button btn btn-default" data-toggle="tooltip" title="Показати список обладнання"> <img src="~/Content/img/icon/icon_equipment1.gif" /></button>
                                </form>  
                                
                            </div>

                            <table id="objectsTable" class="table tabstyle table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.MainResource.Shared_Organization</th>
                                        <th>@Resources.MainResource.Shared_Name</th>
                                        <th>@Resources.MainResource.Shared_Region</th>
                                        <th>@Resources.MainResource.Shared_Address</th>
                                        <th>@Resources.MainResource.Object_ContactPerson</th>
                                        <th>@Resources.MainResource.Shared_Phone</th>
                                        <th>@Resources.MainResource.Shared_Email</th>
                                        <th class="no-sort"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.APP_ServiceObjects obj in Model)
                                    {
                                        <tr id="@obj.Id" data-object-name="@obj.Name">
                                            <td>
                                             @{string link = "/Company/Details/" + @obj.APP_COMPANY.company_id;}<a href=@link> @obj.APP_COMPANY.name</a>
                                            </td>
                                            <td>@obj.Name</td>
                                            <td>@obj.DICT_REGION.Name</td>
                                            <td>@($"{obj.APP_ObjectAddresses.Region} обл.,{obj.APP_ObjectAddresses.District} р-н,{obj.APP_ObjectAddresses.City},вул. {obj.APP_ObjectAddresses.Street},буд. {obj.APP_ObjectAddresses.House}")</td>
                                            <td>@obj.ContactPerson</td>
                                            <td>@obj.PhoneNumber</td>
                                            <td>@obj.Email</td>
                                            <td><a href="/Object/Details/@obj.Id"><span class="glyphicon glyphicon-user"></span></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage",
        buttonCancel: "@Resources.MainResource.Button_Cancel",
        buttonDelete: "@Resources.MainResource.Button_Delete",
        deleteSuccess: "@Resources.MainResource.DeleteItem_DeleteSuccess",
        deleteError: "@Resources.MainResource.DeleteItem_DeleteError",
        deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
        deleteConfirmText: "@Resources.MainResource.Object_DeleteConfirm",
        DeleteErrorEquipment: "@Resources.MainResource.DeleteErrorEquipment"
        
    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/Object_Index.js")
}
