﻿    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("Home", "active")">
                <a href="@Url.Action("index", "home")" title="@Resources.TempResource.MainMenu1"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">@Resources.TempResource.MainMenu1</span></a>
            </li>

            <li class="@Html.RouteIf("Users", "active")">
                <a href="@Url.Action("index", "Users")" title="@Resources.TempResource.MainMenu2"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">@Resources.TempResource.MainMenu2</span></a>
            </li>

            <li class="@Html.RouteIf("Company", "active")">
                <a href="@Url.Action("index", "Company")" title="@Resources.MainResource.Company_Index_Company"><i class="fa fa-lg fa-fw fa-university"></i> <span class="menu-item-parent">@Resources.MainResource.Company_Index_Company</span></a>
            </li>

            <li class="@Html.RouteIf("Object", "active")">
                <a href="@Url.Action("index", "Object")" title="@Resources.MainResource.Object_ServiceObjects"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">@Resources.MainResource.Object_ServiceObjects</span></a>
            </li>

            <li class="@Html.RouteIf("Equipment", "active")">
                <a href="#" title="@Resources.MainResource.Equipment_Index_Name"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">@Resources.MainResource.Equipment_Index_Name</span></a>
                <ul>
                    <li class="@Html.RouteIf("Equipment/ManageCategories", "active")">
                        <a href="@Url.Action("ManageCategories", "Equipment")" title="@Resources.MainResource.Equipment_Category_Title"> <span class="menu-item-parent">@Resources.MainResource.Equipment_Category_Title</span></a>
                    </li>

                    <li class="@Html.RouteIf("Equipment/index", "active")">
                        <a href="@Url.Action("index", "Equipment")" title="@Resources.MainResource.Equipment_Index_EquipmentList"> <span class="menu-item-parent">@Resources.MainResource.Equipment_Index_EquipmentList</span></a>
                    </li>
                </ul>
            </li>

            <li class="@Html.RouteIf("Order", "active")">
                <a href="@Url.Action("index", "Order")" title="@Resources.MainResource.Order_Index_Title"><i class="fa fa-lg fa-fw fa-bell"></i> <span class="menu-item-parent">@Resources.MainResource.Order_Index_Title</span></a>
            </li>

            <li class="@Html.RouteIf("ServiceCalendar", "active")">
                <a href="@Url.Action("index", "ServiceCalendar")" title="@Resources.TempResource.MainMenu3"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">@Resources.TempResource.MainMenu3</span></a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->