﻿@using Microsoft.AspNet.Identity;
<div class="login-info">
    <span style="margin-top:6px;">
        @*<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">*@
        @*<img src="~/content/img/avatars/sunny.png" alt="me" class="online" />*@
        <span id="show-shortcut" style="font-size:14px;max-width:150px;color:#c0bbb7;">@Compass.Utils.Features.GetActiveUserName(User.Identity.GetUserId())</span>
        @*<i class="fa fa-angle-down"></i>*@
        @*</a>*@
    </span>
</div>