﻿<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
    <div class="text-left error-box">
        <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i> @Resources.TempResource.ErrorPageTitle</h1>
        <h2 class="font-xl"><strong>@Resources.TempResource.ErrorPageMessage1</strong></h2>
        <br />
        <p class="lead">
            @Resources.TempResource.ErrorPageMessage2
        </p>
        <p class="font-md">
            <b>@Resources.TempResource.ErrorPageMessage3</b>
        </p>
    </div>
</div>