﻿@{
    ViewBag.PageId = "extr-page";
}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">@Resources.TempResource.FPQuestion1</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">@Resources.TempResource.FPLogin</a> </span>
}

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4  hidden-xs hidden-sm"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="well no-padding">

                @{if (!string.IsNullOrWhiteSpace(ViewBag.Success))
                    {
                        @Html.Raw("<div class='alert alert-success'>"
                            + "<a href = '#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"
                            + ViewBag.Success
                            + "</div>");
                    }
                }

                <form action="@Url.Action("forgotpassword", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        @Resources.TempResource.FPTitle
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">@Resources.TempResource.FPLabelTitle</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.TempResource.FPHint</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("login", "account")"><i class="fa fa-smile-o"></i> @Resources.TempResource.FPRemember</a>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i> 
                            @Resources.TempResource.FPSend
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: '@Resources.TempResource.FPEmailError1',
                        email: '@Resources.TempResource.FPEmailError2'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}