﻿@using Compass.Models
@model LoginViewModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}

@section topright{
}

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4  hidden-xs hidden-sm"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="well no-padding">
                <form action="@Url.Action("login", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        @Resources.TempResource.LoginSignIn
                    </header>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">@Resources.TempResource.LoginUsername</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="login">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.TempResource.LoginUsernameError</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">@Resources.TempResource.LoginPassword</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> @Resources.TempResource.LoginPasswordError1</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> @Resources.TempResource.LoginForgotPassword</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <i></i>@Resources.TempResource.LoginRememberMe
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            @Resources.TempResource.LoginSignIn
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    login: {
                        required: true,
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    login: {
                        required: '@Resources.TempResource.LoginUsernameError',
                    },
                    password: {
                        required: '@Resources.TempResource.LoginPasswordError1',
                        minlength: jQuery.validator.format("@Resources.TempResource.LoginPasswordError2"),
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}