﻿@{
    ViewBag.PageId = "extr-page";
}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">@Resources.TempResource.FPQuestion1</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">@Resources.TempResource.FPLogin</a> </span>
}

<div id="content" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4  hidden-xs hidden-sm"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="well no-padding">

                @{if (!string.IsNullOrWhiteSpace(ViewBag.Success))
                    {
                        @Html.Raw("<div class='alert alert-success'>"
                             + "<a href = '#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>"
                             + ViewBag.Success
                             + "</div>");
                    }
                }

                <form action="@Url.Action("resetpassword", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        @Resources.TempResource.RPNewPassword
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        @Html.Hidden("code", Request.Params["code"])
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" placeholder="@Resources.TempResource.FPLabelTitle" id="email" autocomplete="off" value="@Request.Params["email"]">
                                <b class="tooltip tooltip-bottom-right">@Resources.TempResource.FPEmailError1</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" placeholder="@Resources.TempResource.LoginPassword" id="password" autocomplete="off">
                                <b class="tooltip tooltip-bottom-right">@Resources.TempResource.RPHint</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="passwordConfirm" placeholder="@Resources.TempResource.RPConfirmPassword" id="passwordConfirm" autocomplete="off">
                                <b class="tooltip tooltip-bottom-right">@Resources.TempResource.RPHint</b>
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i>
                            @Resources.MainResource.Button_Save
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        maxlength: 20
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 6,
                        maxlength: 20,
                        equalTo: '#password'
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: '@Resources.TempResource.FPEmailError1',
                        email: '@Resources.TempResource.FPEmailError2',
                    },
                    password: {
                        required: '@Resources.TempResource.LoginPasswordError1',
                        minlength: jQuery.validator.format("@Resources.TempResource.LoginPasswordError2"),
                    },
                    passwordConfirm: {
                        required: '@Resources.TempResource.RPConfirmPasswordError1',
                        equalTo: '@Resources.TempResource.RPConfirmPasswordError2',
                        minlength: jQuery.validator.format("@Resources.TempResource.LoginPasswordError2"),
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}