/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.control_panel {
    text-align: right;
    margin: 5px;
}

.chosen-choices {
    min-height: 32px;
}

.manage-button {
    display: block;
    float: right;
    margin: 2px;
}

/*select row in datatable*/
table.dataTable.display tbody tr.even.selected>.sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1 {
    background-color: #acbad5;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.dataTables_wrapper {
    clear: both;
}