﻿@{
    ViewBag.Title = Resources.MainResource.Order_Index_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-calendar"></i>
            @Resources.TempResource.Calendar_Index_Title
            <span>
                >
                @Resources.TempResource.Calendar_Index_Title2
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.TempResource.Calendar_Index_FilterWidgetTitle </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                <fieldset>
                                    <section>
                                        @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                                        <label class="select">
                                            @Html.DropDownList("Companies", Resources.MainResource.Shared_Required_SelectCompany)
                                            <i></i>
                                        </label>
                                    </section>

                                    <section>
                                        @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                                        <label class="select">
                                            @Html.DropDownList("Objects", Resources.MainResource.Order_Create_Required_Object)
                                            <i></i>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-6 col-lg-8">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                        <h2> @Resources.TempResource.Calendar_Index_Title2 </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <div class="widget-body no-padding">
                            <!-- content goes here -->
                            <div class="widget-body-toolbar">

                                <div id="calendar-buttons">

                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                            <!-- end content -->
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">@Resources.TempResource.ServiceCalendar_Index_ModalTitle</h4>
            </div>
            <div class="modal-body">
                <form id="modalForm" class="smart-form">
                    <fieldset style="padding:0px;">
                        <section>
                            @Html.Label(Resources.MainResource.Shared_Organization, htmlAttributes: new { @class = "label" })
                            <label class="select">
                                <select id="ModalCompanies" name="ModalCompanies"></select>
                                <i></i>
                            </label>
                        </section>

                        <section>
                            @Html.Label(Resources.MainResource.Object_ObjectName, new { @class = "label" })
                            <label class="select">
                                <select id="ModalObjects" name="ModalObjects"></select>
                                <i></i>
                            </label>
                        </section>

                        <section>
                            @Html.Label(Resources.MainResource.Equipment_Equipments, new { @class = "label" })
                            <label class="select">
                                <select id="ModalEquipment" name="ModalEquipment">
                                    <option value="">@Resources.MainResource.Order_Create_Equipment</option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                        <section>
                            @Html.Label(Resources.TempResource.ServiceCalendar_Index_ModalText, new { @class = "label" })
                            <label class="textarea">
                                <textarea id="ModalText" name="ModalText" class="custom-scroll" rows="3"></textarea>
                            </label>
                        </section>

                        <section>
                            @Html.Label(Resources.TempResource.ServiceCalendar_Index_ModalDate, new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="startdate" id="startdate" placeholder="@Resources.TempResource.ServiceCalendar_Index_ModalDateRequired">
                            </label>
                        </section>

                        <section>
                            <label class="toggle">
                                <input type="checkbox" name="checkbox-toggle" checked="checked" id="remember">
                                <i data-swchon-text="@Resources.MainResource.Company_Index_Yes" data-swchoff-text="@Resources.MainResource.Company_Index_No"></i>@Resources.TempResource.ServiceCalendar_Index_ModalRemember
                            </label>
                        </section>

                        <section>
                            @Html.Label(Resources.TempResource.ServiceCalendar_Index_ModalColor, new { @class = "label" })
                            <div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons" style="min-height:25px;">
                                <label class="btn bg-color-darken active">
                                    <input type="radio" name="priority" id="color1" value="event bg-color-darken txt-color-white" checked>
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-blue">
                                    <input type="radio" name="priority" id="color2" value="event bg-color-blue txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-orange">
                                    <input type="radio" name="priority" id="color3" value="event bg-color-orange txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-greenLight">
                                    <input type="radio" name="priority" id="color4" value="event bg-color-greenLight txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-blueLight">
                                    <input type="radio" name="priority" id="color5" value="event bg-color-blueLight txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-red">
                                    <input type="radio" name="priority" id="color6" value="event bg-color-red txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                                <label class="btn bg-color-magenta">
                                    <input type="radio" name="priority" id="color6" value="event bg-color-magenta txt-color-white">
                                    <i class="fa fa-check txt-color-white"></i>
                                </label>
                            </div>
                        </section>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    @Resources.MainResource.Button_Cancel
                </button>
                <button type="button" class="btn btn-danger" id="btnDelete">
                    @Resources.MainResource.Button_Delete
                </button>
                <button type="button" class="btn btn-primary" id="btnOk">
                    @Resources.MainResource.Button_Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section pagespecific {
    @Styles.Render("~/Content/css/notforall/fullcalendarcustom.css")
    @Scripts.Render("~/Scripts/plugin/moment/moment.min.js")
    @Scripts.Render("~/Scripts/plugin/fullcalendar/jquery.fullcalendar.min.js")
    @Scripts.Render("~/Scripts/plugin/fullcalendar/lang/" + Resources.TempResource.FullCalendar_Lang)
    @Scripts.Render("~/Scripts/ClientScripts/ServiceCalendar_Index.js")

    <script type="text/javascript">
        var resource = {
            errorCompany: "@Resources.MainResource.Shared_Required_SelectCompany",
            errorObject: "@Resources.MainResource.Order_Create_Required_Object",
            errorEquipment: "@Resources.MainResource.Order_Create_Equipment",
            errorDate: "@Resources.TempResource.ServiceCalendar_Index_ModalDateRequired",
            successAdd: "@Resources.TempResource.ServiceCalendar_Index_SuccessAdd",
            buttonCancel: "@Resources.MainResource.Button_Cancel",
            buttonDelete: "@Resources.MainResource.Button_Delete",
            deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
            deleteConfirmText: "@Resources.TempResource.ServiceCalendar_Index_DeleteMsg",
            successDelete: "@Resources.TempResource.ServiceCalendar_Index_SuccessDelete",
        }
    </script>
}
