﻿@model IEnumerable<Compass.EntityModels.APP_Equipment>

@{
    ViewBag.Title = Resources.MainResource.Equipment_Index_Name;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-cog"></i>
            @Resources.MainResource.Equipment_Index_Name
            <span>
                >
                @Resources.MainResource.Equipment_Index_EquipmentList
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Equipment_Index_EquipmentList </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <form action="/Equipment/Create">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Equipment_Index_AddEquipment</button>
                                </form>
                                <form action="#" id="EditEquipment" hidden="true">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Equipment_Index_EditEquipment</button>
                                </form>
                                <form action="#" id="DeleteEquipment" hidden="true" class="viewDialog">
                                    <button class="manage-button btn btn-default">@Resources.MainResource.Equipment_Index_DeleteEquipment</button>
                                </form>
                            </div>
                            <table id="equipmentTable" class="table tabstyle table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.MainResource.Equipment_Name</th>
                                        <th>@Resources.MainResource.Equipment_Category</th>
                                        <th>@Resources.MainResource.Equipment_Company</th>
                                        <th>@Resources.MainResource.Equipment_ServiceObject</th>
                                        <th>@Resources.MainResource.Equipment_Installation</th>
                                        <th>@Resources.MainResource.Equipment_EquipmentDescription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.APP_Equipment equipment in Model)
                                    {
                                        <tr id="@equipment.Id" data-equipment-name="@equipment.Name">
                                            <td>@equipment.Name</td>
                                            <td>@(equipment.DICT_EquipmentCategories.Name)</td>
                                            <td>@equipment.APP_ServiceObjects.APP_COMPANY.name</td>
                                            <td>@equipment.APP_ServiceObjects.Name</td>
                                            <td>@equipment.Installation</td>
                                            <td>@equipment.EquirmentDescription</td> </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage",
        buttonCancel: "@Resources.MainResource.Button_Cancel",
        buttonDelete: "@Resources.MainResource.Button_Delete",
        deleteSuccess: "@Resources.MainResource.DeleteItem_DeleteSuccess",
        deleteError: "@Resources.MainResource.DeleteItem_DeleteError",
        deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
        deleteConfirmText: "@Resources.MainResource.Equipment_Index_DeleteConfirm"
    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/Equipment_Index.js")
}
