﻿@model IEnumerable<Compass.EntityModels.DICT_EquipmentCategories>

@{
    ViewBag.Title = Resources.MainResource.Equipment_Category_Title;
    ViewBag.PageClass = "animated fadeInDown";
}

<!-- MAIN CONTENT -->
<div id="content">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-list"></i>
            @Resources.MainResource.Equipment_Index_Name
            <span>
                >
                @Resources.MainResource.Equipment_Category_Title
            </span>
        </h1>
    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@Resources.MainResource.Equipment_Category_Title </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="control_panel">
                                <button id="addCategory" class="manage-button btn btn-default" title="@Resources.MainResource.Equipment_Category_Add"><img src="~/Content/img/icon/icon_plus.gif"  alt="@Resources.MainResource.Equipment_Category_Add" /></button>
                                <button id="Edit_Equipment_Category" class="editCategory manage-button btn btn-default" disabled title="@Resources.MainResource.Equipment_Category_Edit"><img src="~/Content/img/icon/icon_edit.gif" alt="@Resources.MainResource.Equipment_Category_Edit" /></button>
                                <button id="Delete_Equipment_Category" class="delCategory manage-button btn btn-default" disabled title="@Resources.MainResource.Equipment_Category_Delete"><img src="~/Content/img/icon/icon_delete.gif" alt="@Resources.MainResource.Equipment_Category_Delete" /></button>
                                </div>

                            <table id="eqipmentCategoryTable" class="dataTable table tabstyle table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>@Resources.MainResource.Equipment_Category_Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Compass.EntityModels.DICT_EquipmentCategories category in Model)
                                    {
                                        <tr class="test" id="@category.Id" data-category-name="@category.Name">
                                            <td>@category.Name</td>
                                            @*<td><a class="editCategory" href="#" data-category-id="@category.Id" data-category-name="@category.Name"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            <td><a class="delCategory" href="#" data-category-id="@category.Id" data-category-name="@category.Name"><span class="glyphicon glyphicon-trash"></span></a></td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
    var resource = {
        tableLang: "@Resources.MainResource.Table_TableLanguage",
        buttonCancel: "@Resources.MainResource.Button_Cancel",
        buttonDelete: "@Resources.MainResource.Button_Delete",
        buttonAdd: "@Resources.MainResource.Button_Add",
        buttonSave: "@Resources.MainResource.Button_Save",
        newTitle: "@Resources.MainResource.Equipment_Category_NewWidget_Title",
        newText: "@Resources.MainResource.Equipment_Category_NewWidget_Text",
        newPlaceholder: "@Resources.MainResource.Equipment_Category_Name",
        newSuccess: "@Resources.MainResource.Equipment_Category_NewWidget_Success",
        newError1: "@Resources.MainResource.Equipment_Category_NewWidget_Error1",
        newError2: "@Resources.MainResource.Equipment_Category_NewWidget_Error2",
        newError3: "@Resources.MainResource.Equipment_Category_NewWidget_Error3",
        editTitle: "@Resources.MainResource.Equipment_Category_EditWidget_Title",
        editText: "@Resources.MainResource.Equipment_Category_EditWidget_Text",
        editSuccess: "@Resources.MainResource.Equipment_Category_EditWidget_Success",
        deleteConfirmTitle: "@Resources.TempResource.ConfirmWidgetTitle",
        deleteText: "@Resources.MainResource.Equipment_Category_DelWidget_Title",
        deleteSuccess: "@Resources.MainResource.Equipment_Category_DelWidget_Title"
    }
</script>

@section pagespecific {
    @Scripts.Render("~/scripts/compass/datatables")
    @Scripts.Render("~/Scripts/ClientScripts/equipment.categories.js")
}
